<!DOCTYPE html>
<html>

<head>
    <title>C. elegans CRISPR Primer Maker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <div class="row heading">
        <div class="col-md-3"></div>
        <div class="col-md-6 Title"><a href="/"><H1>C. elegans CRISPR Primer Maker V 0.1</H1></a></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        {{#if output}}
            <div class="alert alert-success">
                <strong>Success!</strong></div>
        {{/if}}
        {{#if warnings}}
            <div class="alert alert-warning">
                {{#each warnings}}{{this}}{{/each}}
            </div>
        {{/if}}
        {{#if errors}}
            <div class="alert alert-danger">
                {{#each errors}}{{{this}}}{{/each}}
            </div>
        {{/if}}
    </div>
    <div class="row">
        <h3>Instructions:</h3>
        <p>Please enter the 20bp sequence directly (5') upstream of the PAM site (19bp protospacer + 1bp), the program will return the primers to be ordered with Bsa1 overhangs ready for cloning into pRB1017.</p>
    </div>
    <br>
    <div class="row">
        <form id="form1" action="/output" method='post'>
            <div class="form-group row">
                <label for="protospacer" class="col-xs-3 col-form-label">5' N + protospacer 5' -> 3'</label>
                <div class="col-xs-4">
                    <input class="form-control" placeholder="20 bp" value="{{input.protospacer}}" name="protospacer">
                </div>
            </div>
            <br>
            <p> OPTIONAL - also enter the homology arms and insert sequence (if desired) to return the full homology template and predicted translation (feature still in development).</p><br>
            <div class="form-group row">
                <label for="homologyArm5" class="col-xs-3 col-form-label">5' Homology arm 5' -> 3'</label>
                <div class="col-xs-9">
                    <input class="form-control" placeholder="~50bp upstream homology" value="{{input.homologyArm5}}" name="homologyArm5">
                </div>
            </div>
            <div class="form-group row">
                <label for="Insert" class="col-xs-3 col-form-label">Insert 5' -> 3'</label>
                <div class="col-xs-9">
                    <input class="form-control" placeholder="Insert sequence" value="{{input.insert}}" name="Insert">
                </div>
            </div>
            <div class="form-group row">
                <label for="homologyArm3" class="col-xs-3 col-form-label">3' Homology arm 5' -> 3'</label>
                <div class="col-xs-9">
                    <input class="form-control" placeholder="~50bp downstream homology" value="{{input.homologyArm3}}" name="homologyArm3">
                </div>
            </div>
            <div class="form-group row">
                <label for="homologyArm3" class="col-xs-3 col-form-label">Sense or Anti-Sense strand :</label>
                <div class="col-xs-2">
                    <select class="form-control" placeholder="strand" value="{{input.strand}}" name="strand">
        <option>Sense</option>
    <option>Anti-Sense</option>
      </select>
                </div>
            </div>

            <button type="submit" form="form1" class="btn btn-primary">Submit!</button>
        </form>
    </div>
    <div>
        {{#if output}}
            <div class="row monospace">
                <br>
                {{#if output.bsa15}}
                    <br>
                    <h3>OUTPUT</h3><br>
                    <p>pRB1017 Primer 1 5' -> 3' : {{output.bsa15}}</p>
                    <p>pRB1017 Primer 2 5' -> 3' : {{output.bsa13}}</p>
                {{/if}}
                {{#if output.homologylength}}
                    <p>Homology repair template 5' -> 3' : {{output.homology53}}</p>
                    <br>
                    <br>
                    <p>Homology repair template Info ( length : {{output.homologylength}} bp ) :</p>
                    <p>Anti-Sense strand</p>
                    <p>{{output.antiSense}}</p>
                    <p>Sense strand and translation prediction</p>
                    <p id="sense-strand">{{output.sense}}</p>
                    <div id="frame1">&nbsp;{{{output.frame1}}}</div>
                    <div>
                        &nbsp;&nbsp;<div id="frame2">{{{output.frame2}}}</div>
                    </div>
                    <div>
                        &nbsp;&nbsp;<div id="frame3">{{{output.frame3}}}</div>
                    </div>
                {{/if}}
            </div>
        {{else}}
        {{/if}}
    </div>
    <br>
    <div class="row">
        <h4><a href="https://github.com/lauri3new/CRISPR-primer-maker" target="_blank">View source on GITHUB</a></h4>
    </div>
    <script type="text/javascript" src="javascripts/color.js"></script>
</body>

</html>
